body {
    margin: 0;
}

#ighf:hover {
    background-color: rgb(303030);
}

#ighf {
    padding-bottom: 0;
    min-height: 70px;
    background-color: rgb(303030);
    border: 0solid#000000;
    transform: translateX(0px)translateY(0px);
    height: 119px;
    padding: 0000;
}

.gdp-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
}

.gpd-grid {
    min-height: auto;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
}

.gpd-clm {
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
}

.sticky {
    justify-content: space-between;
    align-items: center;
    min-height: 32px;
    height: 60px;
    max-width: 100%;
    width: 100%;
}

#ik48 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    align-self: center;
    white-space: normal;
    background-color: #ffffff;
    padding: 5px035px16px;
    transform: translateX(14px)translateY(4.4965245723724365px);
}

.gpd-cell {
    flex-grow: 1;
    flex-basis: 100%;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

#ij0o8m {
    align-items: center;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    transform: translateX(-7.994832515716553px)translateY(14.99999713897705px);
}

#i8h3sg {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: rgb(9797107);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    max-width: 48px;
    transform: translateX(23.993057250976562px)translateY(0px);
}

#igjp1x {
    color: black;
}

#ip9j7w {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#i4dr2 {
    color: black;
    max-width: 58%;
    transform: translateX(62px)translateY(0px);
}

.sidenav.closebtn {
    color: white;
    position: absolute;
    top: -18px;
    right: 0px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav {
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 69px;
    left: 0px;
    background-color: rgba(0000.5);
    overflow-x: hidden;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
    font-family: "OpenSans"sans-serif;
}

.sidenava {
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    color: rgb(255255255);
    display: block;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
    background-color: transparent;
    font-size: 20px;
}

#ibuiwl {
    text-align: right;
    padding-top: 15px;
    padding-right: 14px;
    padding-bottom: 5px;
    padding-left: 0px;
}

#imvflv {
    color: black;
}

.gjs-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.gjs-cell {
    min-height: 75px;
    flex-grow: 1;
    flex-basis: 100%;
}

#template-if7hu {
    margin: 22px008px;
    transform: translateX(29px)translateY(3.498262405395508px);
}

#template-ith2b {
    transform: translateX(151.99999952316284px)translateY(178.00000381469727px);
    flex-basis: 101.86%;
}

#template-ilnny {
    transform: translateX(1366px)translateY(2.0225696563720703px);
}

#template-i8rbo {
    transform: translateX(1390px)translateY(2.0225677490234375px);
}

#template-i40bt {
    transform: translateX(1130px)translateY(2.022563934326172px);
}

#template-itjpi {
    height: 561px;
    padding: 0000;
    transform: translateX(-9px)translateY(-6px);
}

#template-i2mle {
    margin: 15px76px40px31px;
    transform: translateX(13.499977111816406px)translateY(12.5px);
    background-color: #f2f2f2;
}

#template-ibtki {
    color: black;
    transform: translateX(-137px)translateY(4.496524810791016px);
    width: 43px;
    height: 43px;
}

#template-ioekk {
    margin: 15px66px40px31px;
    transform: translateX(12.499977111816406px)translateY(12.5px);
    background-color: #f2f2f2;
    flex-basis: 99.99%;
    min-height: 0;
}

#template-ipffd {
    height: 408px;
    padding: 0000;
    transform: translateX(-9px)translateY(-6px);
}

#template-isbru {
    transform: translateX(1332px)translateY(1.8923606872558594px);
}

#template-iih3c {
    transform: translateX(840.9549560546875px)translateY(30.99993896484375px);
}

#template-iu0j5 {
    transform: translateX(992px)translateY(30.99993896484375px);
}

#template-if8qu {
    transform: translateX(938px)translateY(30.99993896484375px);
}

#template-iq0sl {
    transform: translateX(887px)translateY(30.99993896484375px);
}

#template-isuz7g {
    flex-basis: 67.76%;
}

#template-i5zcuy {
    flex-basis: 70%;
}

#template-it3gxm {
    flex-basis: 70.28%;
    transform: translateX(-0.00006103515625px)translateY(0px);
}

#template-i8x0vu {
    flex-basis: 70%;
}

#template-icxezk {
    flex-basis: 67.76%;
}

#template-ioxxha {
    flex-basis: 70%;
}

#template-idsvza {
    flex-basis: 70.28%;
    transform: translateX(-0.00006103515625px)translateY(0px);
}

#template-i6eaz6 {
    flex-basis: 70%;
}

#template-ianujf {
    transform: translateX(689px)translateY(56px);
}

#template-i6qugf {
    transform: translateX(812px)translateY(56px);
}

#template-iw722y {
    transform: translateX(786px)translateY(56px);
}

#template-i0err6 {
    transform: translateX(753px)translateY(56px);
}

#template-i37w2m {
    transform: translateX(721px)translateY(56px);
}

@media(max-width:768px) {
    .gdp-row {
        flex-wrap: wrap;
    }

    .gjs-row {
        flex-wrap: wrap;
    }
}

@mediascreenand(max-height:450px) {
    .sidenava {
        font-size: 18px;
    }
}