<h2 class="screen-align">Orcaletest</h2>
<nav id="ighf" data-gjs="navbar" class="gdp-row gpd-grid sticky ">
    <div id="ik48" class="gpd-clm gpd-cell ">
        <div id="ij0o8m" class="gdp-row gpd-grid ">
            <div id="template-i2uji" class="">
                <div id="i8h3sg" class="gpd-clm gpd-cell ">
                    <img id="igjp1x" src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/8762113d99a84fa5baf2345306d4f0c3_hamburger3.png"
                    class="" />
                </div>
            </div>
            <div id="ip9j7w" class="gpd-clm gpd-cell ">
                <img id="i4dr2" src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/dad97ef59d704ea0b66e4e5416c67f0a_new_logo_gep.png"
                class="" />
            </div>
            <div id="template-isbru" class="button btn btn-primary ">Send</div>
        </div>
    </div>
    <img id="template-ibtki" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3R5bGU9ImZpbGw6IHJnYmEoMCwwLDAsMC4xNSk7IHRyYW5zZm9ybTogc2NhbGUoMC43NSkiPgogICAgICAgIDxwYXRoIGQ9Ik04LjUgMTMuNWwyLjUgMyAzLjUtNC41IDQuNSA2SDVtMTYgMVY1YTIgMiAwIDAgMC0yLTJINWMtMS4xIDAtMiAuOS0yIDJ2MTRjMCAxLjEuOSAyIDIgMmgxNGMxLjEgMCAyLS45IDItMnoiPjwvcGF0aD4KICAgICAgPC9zdmc+"
    class="" />
    <div id="mySidenav" data-gjs="navbar-items" class="sidenav ">
        <div [routerlink]="['javascript:void(0)']" id="template-if7ki" class="closebtn ">
            <div id="ibuiwl" class="gpd-clm gpd-cell ">
                <img id="imvflv" src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/cdca723990474ba9ba33337d35ef399d_close.png"
                class="" />
            </div>
        </div>
        <div id="MainMenu" class=""></div>
    </div>
</nav>
<div id="template-ixk19" class="gjs-row">
    <div id="template-ith2b" class="gjs-cell">
        <label id="template-if7hu" class="label ">SPECIMEN REGISTRATION</label>
        <div id="template-ilnny" class="button btn btn-primary ">Query</div>
        <div id="template-i8rbo" class="button btn btn-primary ">Reset</div>
        <div id="template-i40bt" class="button btn btn-primary ">Apply</div>
    </div>
</div>
<div id="template-itjpi" class="gjs-row">
    <div id="template-i2mle" class="gjs-cell">
        <div id="template-izo0j" class="gjs-row">
            <div id="template-i3pio" class="gjs-cell">
                <div id="template-i1mhg" class="gjs-row">
                    <div id="template-iha6h" class="gjs-cell">
                        <div id="template-iximq" class="gjs-row">
                            <div id="template-iccjf" class="gjs-cell"></div>
                            <div id="template-iu1av" class="gjs-cell"></div>
                        </div>
                    </div>
                    <div id="template-if24h" class="gjs-cell">
                        <div id="template-isthw" class="gjs-row">
                            <div id="template-ifzi4" class="gjs-cell"></div>
                            <div id="template-iggwk" class="gjs-cell"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-il1b7" class="gjs-row">
            <div id="template-i9jas" class="gjs-cell">
                <div id="template-i4hml" class="gjs-row">
                    <div id="template-ir9r4" class="gjs-cell">
                        <div id="template-it899" class="gjs-row">
                            <div id="template-iso59" class="gjs-cell"></div>
                            <div id="template-iud3l" class="gjs-cell"></div>
                        </div>
                    </div>
                    <div id="template-izgia" class="gjs-cell">
                        <div id="template-iunlg" class="gjs-row">
                            <div id="template-if64v" class="gjs-cell"></div>
                            <div id="template-i1yq9" class="gjs-cell"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-idnt9" class="gjs-row">
            <div id="template-ie2w4" class="gjs-cell">
                <div id="template-i9h31" class="gjs-row">
                    <div id="template-ig30c" class="gjs-cell">
                        <div id="template-iklzz" class="gjs-row">
                            <div id="template-ippyn" class="gjs-cell"></div>
                            <div id="template-ibblf" class="gjs-cell"></div>
                        </div>
                    </div>
                    <div id="template-i45qq" class="gjs-cell">
                        <div id="template-ij0nj" class="gjs-row">
                            <div id="template-ikgff" class="gjs-cell"></div>
                            <div id="template-i0o8b" class="gjs-cell"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-iih3c" class="button btn btn-primary ">SELECTENCOUNTER</div>
        <div id="template-iq0sl" class="button btn btn-primary ">EXT.PATIENTINFO</div>
        <div id="template-if8qu" class="button btn btn-primary ">HOSPITALORDERS</div>
        <div id="template-iu0j5" class="button btn btn-primary ">SCREENUNITS</div>
    </div>
</div>
<div id="template-ipffd" class="gjs-row">
    <div id="template-ioekk" class="gjs-cell">
        <div id="template-ip8bkq" class="gjs-row">
            <div id="template-idsvza" class="gjs-cell">
                <div id="template-iw4k76" class="gjs-row">
                    <div id="template-icxezk" class="gjs-cell"></div>
                    <div id="template-ioxxha" class="gjs-cell"></div>
                </div>
            </div>
            <div id="template-i6eaz6" class="gjs-cell">
                <div id="template-i2yhjz" class="gjs-row">
                    <div id="template-idhpqo" class="gjs-cell"></div>
                    <div id="template-itm7po" class="gjs-cell"></div>
                </div>
            </div>
        </div>
        <div id="template-iqg9gq" class="gjs-row">
            <div id="template-it3gxm" class="gjs-cell">
                <div id="template-ic6vda" class="gjs-row">
                    <div id="template-isuz7g" class="gjs-cell"></div>
                    <div id="template-i5zcuy" class="gjs-cell"></div>
                </div>
            </div>
            <div id="template-i8x0vu" class="gjs-cell">
                <div id="template-innfct" class="gjs-row">
                    <div id="template-ii094j" class="gjs-cell"></div>
                    <div id="template-ibosqa" class="gjs-cell"></div>
                </div>
            </div>
        </div>
        <div id="template-ianujf" class="button btn btn-primary ">ORDERCOMMENTS</div>
        <div id="template-i37w2m" class="button btn btn-primary ">RECALLPATIENINFO</div>
        <div id="template-i0err6" class="button btn btn-primary ">NEWPATIENT</div>
        <div id="template-iw722y" class="button btn btn-primary ">ADDCLINICALHISTORY</div>
        <div id="template-i6qugf" class="button btn btn-primary ">REQUESTUNITS</div>
    </div>
</div>