body {
    margin: 0;
}

.sidenav.closebtn {
    color: white;
    position: absolute;
    top: -18px;
    right: 0px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenava {
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    color: rgb(255255255);
    display: block;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
    background-color: transparent;
    font-size: 20px;
}

.gjs-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.gjs-cell {
    min-height: 75px;
    flex-grow: 1;
    flex-basis: 100%;
}

#template-if7hu {
    margin: 22px008px;
    transform: translateX(29px)translateY(3.498262405395508px);
}

#template-ith2b {
    transform: translateX(151.99999952316284px)translateY(178.00000381469727px);
    flex-basis: 101.86%;
}

#template-ilnny {
    transform: translateX(1366px)translateY(2.0225696563720703px);
}

#template-i8rbo {
    transform: translateX(1390px)translateY(2.0225677490234375px);
}

#template-i40bt {
    transform: translateX(1130px)translateY(2.022563934326172px);
}

#template-itjpi {
    height: 561px;
    padding: 0000;
    transform: translateX(-9px)translateY(-6px);
}

#template-i2mle {
    margin: 15px76px40px31px;
    transform: translateX(13.499977111816406px)translateY(12.5px);
    background-color: #f2f2f2;
}

#template-ioekk {
    margin: 15px66px40px31px;
    transform: translateX(12.499977111816406px)translateY(12.5px);
    background-color: #f2f2f2;
    flex-basis: 99.99%;
    min-height: 0;
}

#template-ipffd {
    height: 408px;
    padding: 0000;
    transform: translateX(-9px)translateY(-6px);
}

#template-iih3c {
    transform: translateX(840.9549560546875px)translateY(30.99993896484375px);
    margin: 000-124px;
}

#template-iu0j5 {
    transform: translateX(992px)translateY(30.99993896484375px);
}

#template-if8qu {
    transform: translateX(938px)translateY(30.99993896484375px);
}

#template-iq0sl {
    transform: translateX(887px)translateY(30.99993896484375px);
}

#template-isuz7g {
    flex-basis: 67.76%;
}

#template-i5zcuy {
    flex-basis: 70%;
}

#template-it3gxm {
    flex-basis: 70.28%;
    transform: translateX(-0.00006103515625px)translateY(0px);
}

#template-i8x0vu {
    flex-basis: 70%;
}

#template-icxezk {
    flex-basis: 67.76%;
}

#template-ioxxha {
    flex-basis: 70%;
}

#template-idsvza {
    flex-basis: 70.28%;
    transform: translateX(-0.00006103515625px)translateY(0px);
}

#template-i6eaz6 {
    flex-basis: 70%;
}

#template-ianujf {
    transform: translateX(689px)translateY(56px);
    margin: 000-109px;
}

#template-i6qugf {
    transform: translateX(812px)translateY(56px);
}

#template-iw722y {
    transform: translateX(786px)translateY(56px);
}

#template-i0err6 {
    transform: translateX(753px)translateY(56px);
}

#template-i37w2m {
    transform: translateX(721px)translateY(56px);
}

#template-id4x7 {
    padding-top: 10px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 10px;
}

#myGrid {
    width: auto;
    height: 50%;
}

@media(max-width:768px) {
    .gjs-row {
        flex-wrap: wrap;
    }
}

@mediascreenand(max-height:450px) {
    .sidenava {
        font-size: 18px;
    }
}

table.table-bordered {
    border: 0px solid black;
    margin-top: 20px;
    text-align: left;
    table-layout: auto;
    color: black;
    background-color: rgb(255, 255, 255);
    padding: 0 0px;
}

table.table-bordered>thead>tr>th {
    border: 0px solid black;
    padding: 15px 15px;
    color: rgb(255, 255, 255);
    background-color: #285575;
    margin: 0px 5px;
}

.table-striped>tbody>tr:nth-child(even)>td,
    .table-striped>tbody>tr:nth-child(even)>th {
    background-color: #dcdcdc;
    color: black;
}

.table-curved {
    border-radius: 8px;
    th: first-child {
            border-radius: 8px 0 0 8px;
}

th:last-child {
    border-radius: 0 8px 8px 0;
}
    }

table.table-bordered>tbody>tr>td {
    border: 0px solid black;
    margin: 0px 0px;
    padding: 15px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h2 {
    margin: 20px;
}

.table-striped {
    border-radius: 7px;
}

.tableBg {
    padding: 10px;
    margin: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(36, 35, 35, 0.2);
    border: #ECECEC 1px solid;
}

#template-irca {
    padding-top: 10px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 10px;
}

#myGrid {
    width: auto;
    height: 32%;
}

.bottomPage {
    margin: 20px;
}